.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0 210px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px 210px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: 11px 60px 0 auto;
}

.u-block-f5bf-9 {
  font-size: 1.5rem;
}

.u-block-f5bf-67 {
  height: 60px;
}

.u-block-f5bf-69 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-4 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-7 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-8 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-9 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-10 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-11 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-12 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-13 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-14 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-15 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-16 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-17 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-18 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-19 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-20 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-21 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-22 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-23 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-24 {
  font-size: 1.125rem;
}

.u-block-f5bf-38 {
  height: 46px;
}

.u-section-1 .u-table-2 {
  width: 400px;
  margin: -406px auto 60px 60px;
}

.u-block-f5bf-77 {
  font-size: 1.5rem;
}

.u-block-f5bf-78 {
  height: 60px;
}

.u-block-f5bf-80 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-28 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-29 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-30 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-31 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-32 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-33 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-34 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-35 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-36 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-37 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-38 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-39 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-40 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-41 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-42 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-43 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-44 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-45 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-46 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-47 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-48 {
  font-size: 1.125rem;
}

.u-block-f5bf-108 {
  height: 46px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 158px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 99px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-left: 0;
  }
}